<!DOCTYPE html>
<html>
  <head>
    <title>Проект №[8546]</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- <meta name='keywords' content='конкурс, Томские таланты, Томск, вокал, хореография, художественное слово, минута славы, декоративно - прикладное искусство'/> -->
    <!-- <meta name='description' content='Открытый конкурс «Томские таланты» — открытая арт-арена, творческая площадка, конкурс талантов, посвященный празднованию 410-летия г. Томска, проходящего в рамках Года культуры в России.'/> -->
    <!-- <meta name='title' content='Томские таланты'/> -->
    <!-- <meta property="og:image" content="http://storage.znaigorod.ru/files/176399/260-126/og_image.jpg"> -->
  </head>
  <body>
    <div class="outside_wrapper"> <!-- background -->
      <% if flash[:notice] %>
        <div class="notify_wrapper" align='center'>
          <div class="notify">
            <div class="notify_text">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="sponsors">
        <%= link_to 'Проект 8546', root_path, class: :self_link %>
        <%= link_to 'ЗнайГород', 'http://znaigorod.ru', target: '_blank', class: :zg_link %>
      </div>
      <div class="navigation">
        <div class="links_wrapper">
          <span class="<%= 'selected' if action_name == 'show_conditions' %>"> <%= link_to 'ТАЙНА ПРОЕКТА', show_conditions_path %></span>
          <span class="<%= 'selected' if event_id == 3 %>"> <%= link_to 'ОРГАНИЗАТОРЫ', sponsors_path %></span>
          <span class="<%= 'selected' if event_id == 2 %>"><%= link_to 'УЧАСТНИКИ', participants_path  %></span>
          <span class="<%= 'selected' if event_id == 1 && controller_name == 'events' %>"> <%= link_to 'ДНЕВНИКИ ПРОЕКТА', root_path %></span>
        </div>
      </div>
      <div class="content_wrapper">
        <div class="content">
          <%#= render partial: 'commons/banner' %>

          <%= yield %>

        </div>
      </div>
    </div>
    <%= render partial: 'commons/footer' %>
    <%= render partial: 'commons/social_likes' %>
    <% if Rails.env.production? %>
      <%= render partial: 'commons/metrika' %>
    <% end %>
  </body>
</html>
